@import '~antd/dist/antd.css';


.wrapper{
    display: flex;
    width:100%;
    border: 1px  black;
}


.center{
    border: 1px dashed black;
    width: 50%;
    box-sizing: border-box;
}

.left{
    box-sizing: border-box;
    border: 1px dashed black;
    width: 25%;
}

.right{
    box-sizing: border-box;
    border: 1px dashed black;
    width: 25%;
}







